body{
    margin: 0;
    background: lightgrey;
    font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
    height: 100%;
    padding: 0;
}

.container{
    width: 1000px;
    margin: 0 auto;
    background: white;
}

.header{
    background-color: white;
    height:220px;
}

.logo{
    text-align: left;
    padding: 20px;
    width: 100px;
    height: 100px;
    float: left;
}

.descr{
    float: left;
    width: 400px;
    text-align: left;
    padding-top: 50px;
}

.logout_form{
    float: right;
    width: 300px;
    padding-top: 15px;
    font-weight: normal;
    text-align: right;
}

ul.language {
    list-style-type: none;
    margin: 20px 40px 10px;
}

ul.language li {
    display: inline-block;
}

.logout_form a{
    margin-right: 20px;
    font-size: 12px;
}

.user_greeting{
    float: right;
    text-align: center;
    font-size: 10px;
}

.logout{
    float: right;
    padding-top: 20px;
    font-size: 13px;
}

.search_form{
    margin: 20px;
    vertical-align: middle;
    text-align: left;
    padding: 5px;
    float: left;
    height: 33px;
    background: lightgray;
}

.search_button{
    -moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
    -webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
    box-shadow:inset 0px 1px 0px 0px #bbdaf7;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
    background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
    background-color:#79bbff;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #84bbf3;
    display:inline-block;
    color:#ffffff;
    font-family:arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:1px 1px 0px #528ecc;
}

.search_button:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
    background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
    background-color:#378de5;
    cursor:pointer;
 }

.search_button:active {
    position:relative;
    top:1px;
}

#sofwol{
    -webkit-appearance: button;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;
    background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
    background-position: 97% center;
    background-repeat: no-repeat;
    border: 1px solid #AAA;
    color: #555;
    margin: 0 15px 0 0;
    font-size: inherit;
    overflow: hidden;
    padding: 5px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 167px;
}

.sidebar{
   float: left;
    width: 20%;
    padding-bottom: 10px;
    margin: 10px;
}

ul.nav {
    list-style: none;
    margin-bottom: 15px;
}

ul.nav li {

}

ul.nav a, ul.nav a:visited {
    padding: 5px 5px 5px 15px;
    display: block;
    text-decoration: none;
    color: #000;
}

ul.nav a:hover, ul.nav a:active, ul.nav a:focus {
    background-color: #FFFFFF;
    color: #999;
}

ul, ol, dl {
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    padding-left: 15px;
    padding-right: 20px;
}

a img {
    border: none;
}


a:link {
    color:#414958;
    text-decoration: underline;
}
a:visited {
    color: #4E5869;
    text-decoration: underline;
}
a:hover, a:active, a:focus {
    text-decoration: none;
}

.book_list{
    float:left;
    width: 75%;
    padding: 10px 0;
}

.book_list h4{
    text-align: left;
    margin-bottom: 20px;
}

.book_title{
    height: 50px;
    float: left;
}

.book_info{
    font-size: 12px;
    float: left;
    margin: 15px;
}

.book_image{
    vertical-align: top;
    float: left;
}

.book_details{
    vertical-align: top;
    width: 240px;
    height: 170px;
    float: left;
}

.book_details a{
    color:#378de5;
    font-weight: bold;
    font-size: 15px;
}

.book_details p{
    font-size: 11px;
}

.book_desc{
    vertical-align: top;
    width: 360px;
    margin-top: 10px;
    float:left;
}

.pagination {
    text-align: center;
}

.pagination a {
    padding: 2px 5px 2px 5px;
    margin-right: 5px;
    border: 1px solid #4093E9;
    text-decoration: none;
    color: #4093E9;
}

.pagination a:hover, .pagination a:active {
    border:1px solid #4093E9;
    color: #fff;
    background-color: #4093E9;
}
.pagination span.current {
    padding: 2px 5px 2px 5px;
    margin-right: 2px;
    border: 1px solid #4093E9;
    font-weight: bold;
    background-color: #4093E9;
    color: #000;
}
.pagination span.disabled {
    padding: 2px 5px 2px 5px;
    margin-right: 2px;
    border: 1px solid #f3f3f3;
    color: #ccc;
}


.title{
    color: black;
    text-align:center;
    font-size:18px;
    font-weight:bold;
}

.text{
    padding: 0 50px 0 50px;
}

.login_form{
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.login_div{
    border: 1px solid lightgrey;
    margin: 0 auto;
    padding: 10px;
    width: 350px;
}

.enter{
    clear: both;
}

.footer{
    text-align: center;
    color: lightgrey;
    width: 100%;
    height: 100px;
}

.formClass{
    margin: 0;
}